<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>listado completo</title>
</head>
<body>
<a href="/">Home</a>
<h2>Usuarios:</h2>
<ul>
    <li th:each="user : ${users}">
        <strong  th:text="${user.login}">Login</strong>
        <ul th:if="${user.groups}">
            <li th:each="group : ${user.groups}">
                Grupo: <span th:text="${group.name}">Grupo</span>
                <ul th:if="${group.operations}">
                    <li th:each="op : ${group.operations}" th:text="${op.name}">Permiso</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>


</body>
</html>
